/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom styling
---------------------------------------------------*/
.hide {
    display: none !important;
}

.description {
    padding-top: 15px;
}

.row.groups fieldset {
    position: relative;
}

.row.groups fieldset legend {
    border-bottom: none;
}

.row.groups fieldset legend ~ .btn-close {
    cursor: pointer;
    position: absolute;
    top: -1px;
    right: 6px;
}

.groups [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.group {
    padding: 12px;
    border: 1px solid lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    box-shadow: 0 3px 3px 1px lightgrey;
    margin-bottom: 15px !important;
}

td.participant {
    position: relative;
}

td.participant .btn-close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 0px;
}

td.participant .data {
    word-break: break-word;
}

.jumbotron {
    padding-bottom: 16px;
    margin-left: 15vw;
    margin-right: 15vw;
}

.jumbotron h2 {
    margin-top: -25px;
    margin-bottom: 15px;
}

.btn-success {
    background: green;
}

.btn-danger {
    background: #E50007;
}

.modal {
    overflow: hidden;
}

.clear {
    clear: both;
}

.logo {
    margin-top: -15px !important;
    margin-bottom: 15px;
}

/*#region Disabled*/
[disabled] {
    cursor: not-allowed;
}

button[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}
/*#endregion*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
    position: relative;
    top: 3px;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*#endregion*/

/*#region Error Summary*/
.error-summary {
    position: fixed;
    left: 1em;
    right: 1em;
    bottom: 1em;
    z-index: 12000;
    pointer-events: none;
}

.error-summary .alert {
    margin-bottom: 10px !important;
    pointer-events: auto;
}
/*#endregion*/

/* Callouts 
-------------------------------------------------- */
.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout + .bd-callout {
    margin-top: -.25rem;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.bd-callout code,
.bd-callout .highlight {
    background-color: #fff;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-info h4 {
    color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-warning h4 {
    color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout-danger h4 {
    color: #d9534f;
}

.swal-logout-bg {
    background-color: #ffffff;
}
